@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url("font/NanumSquareB.subset.woff2") format("woff2"),
    url("font/NanumSquareB.subset.woff") format("woff"),
    url("font/NanumSquareB.subset.otf") format("otf");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("font/NotoSansKR-Regular.subset.woff2") format("woff2"),
    url("font/NotoSansKR-Regular.subset.woff") format("woff"),
    url("font/NotoSansKR-Regular.subset.otf") format("otf");
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 0;

  background-color: rgb(248, 248, 248);
  font-family: "Noto Sans KR", sans-serif;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "NanumSquare", sans-serif;
  font-display: swap;
}
p {
  margin: 0;
}

.box {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 16px 0px;
}

.switch {
  display: flex;
  width: 200px;
  height: 40px;
  padding: 0;
  cursor: pointer;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.switch > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch > div {
  color: #fff;
  background-color: #3498db;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: rgb(0 0 0 / 8%) 4px 0px 4px 0px;
  transition: border-radius 0.2s, box-shadow 0.2s, transform 0.2s;
  z-index: 1;
}
.switch.toggle > div {
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: rgb(0 0 0 / 8%) -4px 0px 4px 0px;
  transform: translateX(100%);
}
.switch.toggle > p {
  transform: translateX(-100%);
}

header {
  display: flex;
}
header > div:not(:last-child) {
  margin-right: 2rem;
}

body > h1 {
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 0 0 1rem;
}
body.desc > h1#daily {
  order: 5;
}
body.desc > h1#weekly {
  order: 3;
}
body.desc > h1#monthly {
  order: 1;
}
section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
section .group-chart {
  display: none;
  width: 100%;
}
body.desc > section.daily {
  order: 6;
}
body.desc > section.weekly {
  order: 4;
}
body.desc > section.monthly {
  order: 2;
}

.card {
  display: flex;
  gap: 1rem;

  width: calc(50% - 1rem);
}
.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
}
.card-title > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title img {
  margin-bottom: 0.5rem;
}
.card-title l {
  font-size: 0.8rem;
}
.card-title.upper p,
.card-title.upper l {
  color: #e74c3c;
}
.card-title.lower p,
.card-title.lower l {
  color: #3498db;
}
.card-chart {
  flex: 1;
  height: 110px;
}
body.group .group-chart {
  display: block;
}
body.group .card {
  width: auto;
}
body.group .card-chart {
  display: none;
}

@media (max-width: 1600px) {
  .card {
    width: 100%;
  }
}

/******************** Mobile ********************/
@media (max-width: 800px) {
  body {
    padding: 1rem;
  }

  header > div:not(:last-child) {
    margin-right: 1rem;
  }

  body > h1 {
    margin-right: 0;
    padding: 0 0 0 1rem;
  }
  .card {
    flex-direction: column;
  }
  .card-title {
    box-sizing: border-box;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    margin: 0;
  }
}
